@keyframes upAndDown {
    0% {
        transform: translateY(-100%) scale(0.7);
        opacity: 1;
    }

    50% {
        transform: translateY(50%) scale(1.2);
        opacity: 0.3;
    }

    100% {
        transform: translateY(-100%) scale(0.7);
        opacity: 1;
    }
}