@font-face {
    font-family: "playfair_displaybold";
    src: url("../fonts/playfairdisplay-bold-webfont.woff2") format("woff2"),
        url("../fonts/playfairdisplay-bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "poppinsextralight";
    src: url("../fonts/poppins-extralight-webfont.woff2") format("woff2"),
        url("../fonts/poppins-extralight-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "poppinslight";
    src: url("../fonts/poppins-light-webfont.woff2") format("woff2"),
        url("../fonts/poppins-light-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "poppinsmedium";
    src: url("../fonts/poppins-medium-webfont.woff2") format("woff2"),
        url("../fonts/poppins-medium-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "poppinsregular";
    src: url("../fonts/poppins-regular-webfont.woff2") format("woff2"),
        url("../fonts/poppins-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "loraregular";
    src: url("../fonts/lora-regular-webfont.woff2") format("woff2"),
        url("../fonts/lora-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "latolight";
    src: url("../fonts/lato-light-webfont.woff2") format("woff2"),
        url("../fonts/lato-light-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "latomedium";
    src: url("../fonts/lato-medium-webfont.woff2") format("woff2"),
        url("../fonts/lato-medium-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "proza_librelight";
    src: url("../fonts/prozalibre-light-webfont.woff2") format("woff2"),
        url("../fonts/prozalibre-light-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "proza_libremedium";
    src: url("../fonts/prozalibre-medium-webfont.woff2") format("woff2"),
        url("../fonts/prozalibre-medium-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ralewaylight";
    src: url("../fonts/raleway-light-webfont.woff2") format("woff2"),
        url("../fonts/raleway-light-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ralewaymedium";
    src: url("../fonts/raleway-medium-webfont.woff2") format("woff2"),
        url("../fonts/raleway-medium-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "source_sans_prolight";
    src: url("../fonts/sourcesanspro-light-webfont.woff2") format("woff2"),
        url("../fonts/sourcesanspro-light-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

:root {
    // --nav-bg: #1d1d1d;
    // --nav-bg-2: rgba(0,0,0,0.95);
    --nav-bg: rgba(0, 0, 0, 0.95);
    --main-bg: #000;
    --main-color: #fff;
    --nav-link-color: #d22;
    --nav-link-hover: #fffc;
    --mode-bg: url(../svg/002-sun.svg);
    --links-color: #00b1ff;
    --gray: #777;
    --card-bg: rgba(0, 0, 0, 0.6);
    [data-btn="mode"] {
        background-image: url(../svg/002-sun.svg);
    }

    &.light {
        --card-bg: rgba(225, 225, 225, 0.6);
        // --nav-bg: #ededed;
        // --nav-bg: #e1e1e1;
        // --nav-bg-2: rgba(255, 255, 255, 0.95);
        --nav-bg: rgba(255, 255, 255, 0.95);
        --main-bg: #fff;
        --main-color: #000;
        --nav-link-hover: #000c;
        --mode-bg: url(../svg/001-moon.svg);
        [data-btn="mode"] {
            background-image: url(../svg/001-moon.svg);
        }
    }
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

// html:focus-within {
//     scroll-behavior: smooth;
// }

html {
    // display: none;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

*:focus {
    outline: 0.2rem solid red;
    border: none;
    border-radius: 0;
    color: #fff;
}

* {
    transition: background 0.3s linear, color 0.3s linear;
}

::selection {
    background-color: var(--main-color);
    color: var(--main-bg);
}

body {
    line-height: 1.5;
    font-size: 1.6rem;
    color: var(--main-color);
    background-color: var(--main-bg);
    font-family: "latolight", "ralewaylight", "loraregular", "proza_librelight",
        "source_sans_prolight", sans-serif;
    font-weight: normal;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    // font-family: 'Playfair Display', serif;
    font-family: "playfair_displaybold", serif;
    font-weight: normal;
    font-style: normal;
}

a,
button,
mark {
    // font-family: "poppinsmedium";
    font-family: "poppinsregular";
    font-weight: normal;
    font-style: normal;
}

.updating {
    font-family: "poppinsextralight";
    font-weight: normal;
    font-style: normal;
}

// a,
// button {
//     // font-family: 'Poppins', sans-serif;
//     // font-weight: 400;
// }

p {
    font-size: 2rem;
}

main {
    // padding-top: 15rem;
    scroll-snap-type: y mandatory;

    section {
        // background-color: red;
        margin-bottom: 13rem;
        // padding-top: 2rem;
        // padding-bottom: 2rem;
        // scroll-snap-type: y mandatory;
        scroll-snap-align: start;
        scroll-margin: 8.1rem;
        &:last-child {
            // background-color: purple;
            margin-bottom: 0;
        }

        &:first-child {
            // margin-top: 4rem;
            // padding-top: 10rem;
            padding-top: 8rem;
        }

        & > p,
        & header p {
            // background-color: red;
            //     font-weight: bold;
            padding: 0.7rem 1.5rem;
            padding-left: 0;
            font-size: 2rem;
            margin-top: 1.7rem;
            margin-bottom: 1.7rem;
        }
    }
}

h2 {
    width: max-content;
    padding: 1rem 2rem;
    padding-left: 0;
    font-size: clamp(3rem, 8vw, 4rem);
    position: relative;
    color: var(--links-color);

    &::after {
        content: "";
        position: absolute;
        display: block;
        top: 90%;
        left: 2rem;
        left: 0;
        width: 50%;
        height: 0.2rem;
        background-color: red;
    }
}

h3 {
    // font-size: ;
    font-size: 2.5rem;
}

a {
    text-decoration: none;

    &:link,
    &:visited {
        color: var(--links-color);
    }

    &:hover {
        color: var(--nav-link-color);
    }
}

ul {
    list-style: none;
}

svg,
img {
    max-width: 100%;
}
