:root {
    --nav-bg: #1d1d1d;
    --main-bg: #000;
    --main-color: #fff;
    --nav-link-color: #d22;
    --nav-link-hover: #fffc;
    --mode-bg: url(../svg/002-sun.svg);
    --links-color: #00b1ff;
    --gray: #777;
    [data-btn="mode"] {
        background-image: url(../svg/002-sun.svg);
    }

    &.light {
        --nav-bg: #ededed;
        --nav-bg: #e1e1e1;
        --main-bg: #fff;
        --main-color: #000;
        --nav-link-hover: #000c;
        --mode-bg: url(../svg/001-moon.svg);
        [data-btn="mode"] {
            background-image: url(../svg/001-moon.svg);
        }
    }
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

// html:focus-within {
//     scroll-behavior: smooth;
// }

html {
    // display: none;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

*:focus {
    outline: 0.2rem solid red;
    border: none;
    border-radius: 0;
    color: #fff;
}

* {
    transition: background 0.3s linear, color 0.3s linear;
}

body {
    line-height: 1.5;
    font-size: 1.6rem;
    color: var(--main-color);
    background-color: var(--main-bg);
}

p {
    font-size: 2rem;
}

main {
    // padding-top: 15rem;
    scroll-snap-type: y mandatory;

    section {
        // background-color: red;
        // padding-top: 2rem;
        // padding-bottom: 2rem;
        // scroll-snap-type: y mandatory;
        scroll-snap-align: start;
        scroll-margin: 8.1rem;

        &:first-child {
            // margin-top: 4rem;
            // padding-top: 10rem;
            padding-top: 8rem;
        }

        p {
            font-weight: bold;
            padding: 0.7rem 1.5rem;
            font-size: 2rem;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    }
}

h2 {
    width: max-content;
    padding: 1rem 2rem;
    font-size: clamp(3rem, 8vw, 4rem);
    position: relative;
    color: var(--links-color);

    &::after {
        content: "";
        position: absolute;
        display: block;
        top: 90%;
        left: 2rem;
        width: 50%;
        height: 0.2rem;
        background-color: red;
    }
}

h3 {
    // font-size: ;
    font-size: 2.5rem;
}

a {
    text-decoration: none;

    &:link,
    &:visited {
        color: var(--links-color);
    }

    &:hover {
        color: var(--nav-link-color);
    }
    
}

ul {
    list-style: none;
}

svg,
img {
    max-width: 100%;
}

