.btn {
    display: inline-block;
    padding: 0.9rem 1.9rem;
    border-radius: $border-rad;
    background-color: var(--main-color);
    font-size: 2rem;

    &:hover {
        color: var(--main-color);
        background-color: var(--links-color);
    }
}
