.project__lists {
    // background-color: rosybrown;
}

.card {
    min-width: 29rem;
    max-width: 35rem;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 4.5rem;
    min-height: 20rem;
    overflow: hidden;
    padding: 1rem;
    box-shadow: 0 0rem 0.5rem 0.1rem var(--links-color);
    transition: box-shadow 0.3s ease-in-out;

    &:hover {
        box-shadow: 0 0rem 0.2rem 0.1rem var(--links-color);
    }

    &__img {
        display: block;
        width: 100%;
        max-width: 100%;
        height: 100%;
        &-cont {
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: var(--nav-bg);
        opacity: 0;
        transition: all 0.3s ease-in;
        text-align: center;

        &:hover {
            opacity: 1;

            & > * {
                transform: translateY(0);
            }
        }

        & > * {
            transform: translateY(3rem);
            transition: transform 0.4s ease-out;
            margin-top: 0.6em;
        }
    }

    &__link {
        a {
            display: inline-block;
            width: 2rem;
            margin-right: 1rem;
        }
    }
}

.card {
    &__focus {
        & .card__overlay {
            opacity: 1;
            & > * {
                transform: translateY(0);
            }
        }
    }
}

@supports (display: flex) {
    .project__lists {
        @include flex(row, flex-start);
        align-items: stretch;
        gap: 2.5rem 3rem;
    }

    .card {
        // margin-bottom: 0;
        flex: 1 1 29rem;

        &__overlay {
            @include flex(column, center);
            gap: 1rem;

            & > * {
                margin-top: 0;
            }
        }

        &__link {
            @include flex(row, center);
            gap: 1.5rem;

            a {
                flex: 0 0 2rem;
            }
        }
    }
}
