.project__lists {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: flex-start;
    gap: 2rem 3rem;
    // background-color: rosybrown;
}

.card {
    flex: 1 1 29rem;
    max-width: 35rem;
    // background-color: cyan;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    min-height: 20rem;
    overflow: hidden;

    &__img {
        display: block;
        width: 100%;
        max-width: 100%;
        height: 100%;
        &-cont {
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: var(--nav-bg);
        @include flex(column, center);
        opacity: 0;
        transition: all 0.3s ease-in;
        text-align: center;

        &:hover {
            opacity: 1;

            & > * {
                transform: translateY(0);
            }
        }

        & > * {
            transform: translateY(3rem);
            transition: transform 0.4s ease-out;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        margin-top: 1.5rem;

        a {
            flex: 0 0 2rem;
        }
    }
}

.card {
    &__focus {
        & .card__overlay {
            opacity: 1;
            & > * {
                transform: translateY(0);
            }
        }
    }
}
