.contact {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
    border: 0.2rem inset var(--links-color);
    border-left: transparent;
    border-right: transparent;
    background-image: linear-gradient(
        180deg,
        var(--nav-bg) 57%,
        transparent 45%
    );

    p {
        font-size: 4.5rem;
        padding: 0;
        margin: 0;
    }

    &__question {
        font-size: 2.2rem;
        font-weight: normal;
        padding-bottom: 6.5rem;
        // background-color: violet;
    }

    &__link {
        // background-color: pink !important;
        word-break: break-all;
        margin-top: 3rem;
        margin-top: 5rem;

        li {
            text-align: center;
            // background-color: red;
            margin-bottom: 4rem;
            &:last-child {
                // background-color: purple;
                margin-bottom: 2.5rem;
            }

            a {
                // background-color: lightgreen;
                span {
                    // background-color: yellow;
                    display: inline-block;
                    margin-right: 1.2rem;
                }

                figure {
                    display: inline-block;
                    width: 2rem;
                    height: 2rem;
                }
            }
        }
    }
}

@media (max-width: 467px) {
    .contact {
        background-image: linear-gradient(
            180deg,
            var(--nav-bg) 60%,
            transparent 50%
        );
    }
}

@media (min-width: 821px) {
    .contact {
        // background-image: linear-gradient(
        //     100deg,
        //     var(--nav-bg) 59%,
        //     transparent 50.5%
        // );

        background-image: linear-gradient(
            100deg,
            var(--nav-bg) calc(100% - 45vw),
            transparent 20.5%
        );

        &__question {
            padding-bottom: 0;
        }
    }
}

// @media (min-width: 1400px) {
//     .contact {
//         background-image: linear-gradient(
//             100deg,
//             var(--nav-bg) 51%,
//             transparent 31%
//         );
//     }
// }

@supports (display: flex) {
    .contact {
        &__link {
            @include flex(row, center);
            @include flex(column, center);
            // gap: 3.5rem 6rem;
            li {
                a {
                    @include flex(row, center);
                    gap: 0rem;

                    figure {
                        width: auto;
                        height: auto;
                        flex: 0 0 2rem;
                    }
                }
            }
        }
    }

    @media (min-width: 821px) {
        .contact {
            .width {
                // @include flex(row, center);
                @include flex(row, flex-start);
            }

            &__link {
                flex: 1;
                max-width: 43rem;
                margin-top: 0;
                flex-flow: column wrap;
                margin-left: auto;

                li, a, span {
                    font-size: clamp(1.5rem, 2vw, 1.7rem);
                }
            }
        }
    }
}
