.header {
    position: relative;
    min-height: 100vh;
    padding-bottom: 6rem;
}

.heading {
    padding-top: 17rem;
    font-size: 2em;

    header {
        max-width: 52rem;

        & > *:not(:last-child) {
            margin-bottom: 1.5rem;
        }
    }

    // &__link {
    //     margin-top: 3rem;
    //     font-size: 1.7rem;

    //     & > a:first-child {
    //         margin-right: 1.5rem;
    //         margin-bottom: 3rem;
    //     }
    // }

    &__link {
        //     // margin-top: 2rem;
        //     margin-top: 3rem;
        //     font-size: 1.7rem;
        //     @include flex(row, flex-start);
        //     gap: 3rem;

            & > a:first-child {
            margin-right: 1.5rem;
            margin-bottom: 3rem;
        }

        & > a:last-child {
            // margin-left: 5rem;
            background-color: transparent;
            color: var(--main-color);
            border: 0.2rem solid var(--links-color);
            font-weight: bold;

            &:hover {
                // background-color: var(--main-color);
                // color: var(--links-color);
                // background-color: var(--links-color);
                color: var(--main-color);
                border: 0.2rem solid;
            }
        }
    }
}

// @supports (display: flex) {
//     .heading {
//         &__link {
//             // margin-top: 2rem;
//             margin-top: 3rem;
//             font-size: 1.7rem;
//             @include flex(row, flex-start);
//             gap: 3rem;

//             & > a:last-child {
//                 // margin-left: 5rem;
//                 background-color: transparent;
//                 color: var(--main-color);
//                 border: 0.2rem solid var(--links-color);
//                 font-weight: bold;

//                 &:hover {
//                     // background-color: var(--main-color);
//                     // color: var(--links-color);
//                     background-color: var(--links-color);
//                     color: var(--main-color);
//                     border: 0.2rem solid;
//                 }
//             }
//         }
//     }
// }

@media (min-width: 800px) {
    .heading {
        background-image: url(../svg/001-programming.svg);
        background-repeat: no-repeat;
        background-position: right bottom 40%;
        background-size: 40% 50%;
    }
}
