.skills {
    // background-color: yellow;
    // ul {
    //     // text-align: center;
    li {
        text-align: center;
        //         // width: 19rem;
        color: var(--links-color);
    }
    // }
    &__list {
        margin-top: 6rem;
        // display: grid;
        // grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
        // grid-template-columns: repeat(auto-fit, 14rem);
        // gap: 5rem 6rem;
        // @include grid-small;
        // display: flex;
        // flex-flow: row wrap;
        // align-items: center;
        // justify-content: center;
        @include flex(row, center);

        gap: 5rem 1rem;
        li {
            flex: 1 0 14rem;
            max-width: 14.5rem;
            @include margin-auto;
        }
    }

    &__current {
        @include flex(row, flex-start);

        & > * {
            flex: 1 0 14rem;
            max-width: 14.5rem;
        }
    }
}
