@charset "UTF-8";
:root {
  --main-bg: #000;
  --main-color: #fff;
  --nav-bg: #111;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-size: 1.8rem;
  line-height: 1.5;
  background-color: var(--main-bg);
  color: var(--main-color);
}

img, svg {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  margin-top: 4rem;
}

h3 {
  font-size: 3rem;
  color: var(--main-color);
  margin-bottom: 2rem;
}

/*​​
1: Object { id: 12, name: "Adventure" }
​​
2: Object { id: 16, name: "Animation" }
​​
3: Object { id: 35, name: "Comedy" }
​​
4: Object { id: 80, name: "Crime" }
​​
5: Object { id: 99, name: "Documentary" }
​​
6: Object { id: 18, name: "Drama" }
​​
7: Object { id: 10751, name: "Family" }
​​
8: Object { id: 14, name: "Fantasy" }
​​
9: Object { id: 36, name: "History" }
​​
10: Object { id: 27, name: "Horror" }
​​
11: Object { id: 10402, name: "Music" }
​​
12: Object { id: 9648, name: "Mystery" }
​​
13: Object { id: 10749, name: "Romance" }
​​
14: Object { id: 878, name: "Science Fiction" }
​​
15: Object { id: 10770, name: "TV Movie" }
​​
16: Object { id: 53, name: "Thriller" }
​​
17: Object { id: 10752, name: "War" }
​​
18: Object { id: 37, name: "Western" }
*/
.header {
  background-color: var(--nav-bg);
  padding-top: 3rem;
  padding-bottom: 3rem;
  position: relative;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav figure {
  width: 4rem;
  height: 4rem;
}

.nav a {
  color: red;
  padding: 0.5rem 1.3rem;
  border-radius: 0.3rem;
  font-size: 2.2rem;
  -webkit-transition: all 0.6s linear;
  transition: all 0.6s linear;
  border: 0.2rem solid transparent;
}

.nav a:visited {
  color: red;
}

.nav a:focus {
  border-bottom-color: red;
  outline: none;
}

.nav a:hover {
  background-color: var(--main-color);
}

.nav a.active {
  background-color: var(--main-color);
  color: red;
}

.nav__btn {
  width: 3rem;
  height: 3rem;
  border: none;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  display: none;
  cursor: pointer;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.nav [data-nav="open"] {
  background-image: url(../../svg/001-show.svg);
  background-size: 100%;
  background-size: cover;
}

.nav [data-nav="close"] {
  background-size: 60%;
  background-image: url(../../svg/001-close-1.svg);
}

.nav__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 90rem;
  margin-left: auto;
  margin-right: auto;
}

.nav__logo {
  fill: var(--main-color);
}

.nav__sub {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 4rem;
}

.nav__search {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 26rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

.nav__search input {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  font-size: 100%;
  font-family: inherit;
  border: none;
  padding: 0.7rem 0.3rem 0.7rem 0.6rem;
  border-radius: 0.3rem;
  caret-color: black;
  color: red;
  letter-spacing: 0.1rem;
  display: inline-block;
}

.nav__search input:focus, .nav__search input:hover {
  outline: none;
  -webkit-box-shadow: 0.1rem 0.1rem 0.3rem red, -0.1rem -0.1rem 0.3rem red;
          box-shadow: 0.1rem 0.1rem 0.3rem red, -0.1rem -0.1rem 0.3rem red;
}

.nav__search-icon {
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
  padding: 0.4rem 0.9rem;
  font-size: 2.5rem;
  color: red;
  width: 3rem;
  height: 3rem;
  display: inline-block;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  border: none;
}

.nav__search-icon:hover {
  color: #fff;
}

@media (max-width: 900px) {
  .nav {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .nav [data-nav="open"] {
    -webkit-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 3rem;
            flex: 0 0 3rem;
    margin-right: 1rem;
  }
  .nav [data-nav="close"] {
    position: absolute;
    top: 0.5rem;
    right: 0.8rem;
  }
  .nav__search {
    margin-left: auto;
  }
  .nav__main {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: left top;
            transform-origin: left top;
    -webkit-transition: -webkit-transform 0.6s linear;
    transition: -webkit-transform 0.6s linear;
    transition: transform 0.6s linear;
    transition: transform 0.6s linear, -webkit-transform 0.6s linear;
    background-color: var(--nav-bg);
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    height: 83vh;
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    max-width: 50rem;
    z-index: 500;
  }
  .nav__sub {
    display: block;
    width: 100%;
  }
  .nav__sub li {
    margin: 3.5rem auto;
  }
  .nav__btn {
    display: block;
  }
}

.show {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.hide {
  opacity: 0;
}

::-webkit-input-placeholder {
  letter-spacing: 0;
  color: var(--main-bg);
}

:-ms-input-placeholder {
  letter-spacing: 0;
  color: var(--main-bg);
}

::-ms-input-placeholder {
  letter-spacing: 0;
  color: var(--main-bg);
}

::placeholder {
  letter-spacing: 0;
  color: var(--main-bg);
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
  background-color: var(--nav-bg);
}

.container::-webkit-scrollbar {
  width: 0;
}

.vid {
  position: relative;
  width: 32.8rem;
  height: 55rem;
  height: 55.1rem;
  -webkit-perspective: 900px;
          perspective: 900px;
  -webkit-perspective: 1100px;
          perspective: 1100px;
}

.vid__popularity {
  margin-top: 1rem;
}

.vid:not(:last-child) {
  margin-right: 2rem;
}

.vid__detail-btn {
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: red;
  color: #fff;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.vid__link {
  text-align: center;
  margin-top: 0.5rem;
}

.vid__link > span {
  color: red;
  display: inline-block;
  padding: 0.7rem 0.9rem;
  font-size: 2.3rem;
}

main {
  position: relative;
}

.panel {
  opacity: 0;
  display: none;
}

.panel:first-child {
  display: none;
}

.panel:first-child + .panel {
  display: none;
}

.panel.active-panel {
  opacity: 1;
}

.panel > section:not(:first-child) {
  margin-top: 10rem;
}

.panel h3 {
  color: coral !important;
  color: #fff9 !important;
}

.filter > div {
  font-size: 2.5rem;
}

.filter > div select {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  border-radius: 0.5rem;
  background-color: transparent;
  color: var(--main-color);
  border: 0.2rem solid;
  padding-left: 5rem;
}

.filter > div select option {
  background-color: var(--main-bg);
  color: var(--main-color);
}

.filter > div .select-wrapper {
  position: relative;
}

.filter > div .select-arrow {
  position: absolute;
  top: 0.6rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 1rem;
  color: red;
  font-size: 4rem;
  z-index: -3;
}

.filter > div label,
.filter > div select {
  display: block;
  font-family: inherit;
  font-size: 100%;
  width: 100%;
  padding: 0.7rem 0.5rem 0.7rem 0;
}

@media (min-width: 500px) {
  .filter > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .filter > div > * {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    max-width: 35rem;
  }
}

@media (min-width: 901px) {
  .filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .filter h3 {
    margin-bottom: 0;
  }
  .filter > * {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .filter > div {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .filter > div label {
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    margin-right: 1rem;
  }
}

.card {
  position: relative;
  width: 32.8rem;
  height: 49.2rem;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 1.2s linear;
  transition: all 1.2s linear;
}

.card.flipped {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card > div {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.card-back {
  background-color: #fff;
  color: black;
  font-size: 2rem;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  padding: 4rem 2rem 2rem;
}

.card-back span {
  font-size: 2.5rem;
  color: red;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(26rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
  gap: 15rem 2rem;
  margin-top: 4rem;
}

.scene {
  margin-left: auto;
  margin-right: auto;
  width: 260px;
  height: 390px;
  -webkit-perspective: 600px;
          perspective: 600px;
}

.scene .card {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.scene .card button {
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: red;
  color: #fff;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.scene .card__link {
  text-align: center;
  font-size: 2.3rem;
}

.scene .card__link span {
  color: red;
}

.scene .card.is-flipped {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.scene .card figure img {
  max-width: 100%;
}

.scene .card__face {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.scene .card__face--back {
  background-color: #fff;
  color: black;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  padding: 3rem 1rem 1rem;
}

.scene .card__face--back span {
  color: red;
  font-size: 2.3rem;
}

.scene .card__face--back > *:not(:last-child) {
  margin-bottom: 1rem;
}

.pagination ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 2rem 0.1rem;
  border-radius: 5rem;
  padding: 1rem;
  margin-top: 9rem;
}

.pagination li {
  cursor: pointer;
  line-height: 4rem;
  text-align: center;
  font-size: 1.8rem;
  font-size: 2rem;
  font-size: 2.5rem;
  font-weight: 500;
  border-radius: 50%;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  color: red;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.pagination li:not(:last-child) {
  margin-right: 1rem;
}

.pagination li.numb {
  height: 4rem;
  width: 4rem;
  margin: 0 0.5rem;
}

.pagination .btn {
  padding: 0px 1.2rem;
}

.pagination .prev {
  border-radius: 25px 5px 5px 25px;
  border-radius: 2.5rem 0.5rem 0.5rem 2.5rem;
}

.pagination .next {
  border-radius: 2px 25px 25px 5px;
  border-radius: 0.2rem 2.5rem 2.5rem 0.5rem;
}

.pagination .dot {
  font-size: 2rem;
  cursor: default;
}

.pagination .active, .pagination .numb:hover, .pagination .btn {
  background-color: red;
  color: #fff;
}

.search {
  background-color: blue;
}

.search__filter {
  font-size: 2.3rem;
  background-color: grey;
}

.search h3 {
  padding-left: 1rem;
  padding-bottom: 0;
  border-left: 0.2rem solid red;
}

.search__groups {
  background-color: green;
  padding-left: 1.6rem;
}

.search input[type="checkbox"],
.search label {
  display: inline-block;
}

.search input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  margin-right: 1rem;
  opacity: 0;
}

.search input[type="checkbox"]:focus + label {
  opacity: 0.8;
  color: red;
}

.search input[type="checkbox"]:focus + label::after {
  -webkit-box-shadow: -0.1rem -0.1rem 0.3rem red, 0.1rem 0.1rem 0.3rem red;
          box-shadow: -0.1rem -0.1rem 0.3rem red, 0.1rem 0.1rem 0.3rem red;
}

.search input[type="checkbox"]:checked + label::after {
  background-color: red;
  border: none;
}

.search input[type="checkbox"]:checked + label::before {
  -webkit-transform: translateY(-50%) scale(1) rotateZ(0);
          transform: translateY(-50%) scale(1) rotateZ(0);
}

.search label {
  position: relative;
  font-size: 2.7rem;
  -webkit-transition: opacity 0.3s linear, color 0.3s linear;
  transition: opacity 0.3s linear, color 0.3s linear;
}

.search label::after, .search label::before {
  display: inline-block;
  position: absolute;
  top: 55%;
  content: "";
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.search label::after {
  width: 2rem;
  height: 2rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -3rem;
  border: 0.15rem inset red;
  border: 0.15rem solid red;
  z-index: 20;
  border-radius: 50%;
}

.search label::before {
  width: 1.3rem;
  height: 1.3rem;
  left: -2.7rem;
  background-image: url(../../svg/check-double-solid.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-transform: translateY(-50%) scale(0) rotateZ(90deg);
          transform: translateY(-50%) scale(0) rotateZ(90deg);
  z-index: 21;
}

.width {
  width: 100%;
  max-width: 110rem;
  -webkit-margin-start: auto;
          margin-inline-start: auto;
  -webkit-margin-end: auto;
          margin-inline-end: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

main.width {
  max-width: 140rem;
  max-width: 120rem;
}

.error {
  background-color: #fff;
  padding: 0.9rem 1.5rem;
  font-size: 2rem;
  color: red;
  border-radius: 0.5rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.loadmore {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20;
          flex: 1 1 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 6rem;
  padding-right: 6rem;
}

.loadmore button {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: block;
  font-size: 2.5rem;
  background-color: transparent;
  border: none;
  color: red;
  cursor: pointer;
  -webkit-transition: color 0.5s linear;
  transition: color 0.5s linear;
}

.loadmore button:hover {
  color: #fff;
}
