:root {
    --main-bg: #000;
    --text-color: #fff;
    --death-color: #e22;
    --recovered-color: #2e2;
    --critical-color: #e9a81b;
    --population-color: #e20de2;
    --header-bg: #1a1919;
    --loader-bg: #000;
    // --result--bg: 
    // --header-color: #fff;
}

:root.white {
    --main-bg: #fff;
    --text-color: #000;
    --header-bg: #f2f2f2;
    // --header-color: #fff;
}

html {
    font-size: 10px;
    box-sizing: border-box;
}

*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

* {
    transition: background 0.3s linear, color 0.3s linear;
}

*:focus {
    outline: 0.2rem solid green;
    border: transparent;
}

body {
    font-size: 1.8rem;
    line-height: 1.5;
    color: var(--text-color);
    background-color: var(--main-bg);
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 400;
    padding-bottom: 5rem;
}

.heading, main, footer {
    padding-left: 2rem;
    padding-right: 2rem;
}

figure {
    height: 3rem;
    width: 3rem;
}