// main {
//     // background-color: red;
// }

form {
    margin-top: 3rem;
    // background-color: red;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}

select {
    -webkit-appearance: none;
    appearance: none;
    font-size: 100%;
    font-family: inherit;
    color: inherit;
    border: 0.2rem inset;
    border-radius: 0.5rem;
    background-color: transparent;
    padding: 0.7rem 10rem 0.7rem 1rem;

    option {
        max-width: 10rem;
        color: var(--main-bg);
        background-color: var(--text-color);
    }
}

.select__container {
    position: relative;
    margin-right: 8rem;

    &:nth-child(2) {
        margin-right: 0;
    }
}

.down__arr {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1rem;
    z-index: -10;
    width: 2.3rem;
    height: 2.3rem;
}

.country {
    max-width: 30rem;
}

@media (min-width: 570px) {
    .select__container {
        margin-right: 0;
    }
}