.history {
    button {
        transition: all 0.5s linear;

        &:hover {
            cursor: pointer;
        }
    }

    &__close, &__delete {        
        background-repeat: no-repeat;
        background-size: 80%;
        background-position: center;
    }

    &__delete {
        width: 2.5rem;
        height: 2.5rem;
        vertical-align: 0.7rem;
        background-image: url(../svg/001-trash-bin.svg);
        // background-image: url(../svg/003);
        background-image: url(../../svg/001-garbage-can.svg);
        box-shadow: 0.01rem 0.01rem 0.2rem 0.07rem var(--search-bg);
    }

    &__close {
        width: 3rem;
        height: 3rem;
        position: absolute;
        position: sticky;
        top: 0.8rem;
        left: 1rem;
        margin-left: -33rem;
        background-image: url(../../svg/001-close-1.svg);
    }
    &__btn {
        color: var(--search-bg);
        font-size: 2rem;
        padding: 0.6rem 1.4rem 0.8rem;
        border-radius: 0.6rem;
        box-shadow: 0 0 0.5rem 0.09rem var(--light-blue);

        &.disabled {
            cursor: not-allowed !important;
        }

        &:focus,
        &:hover {
            outline: none;
            box-shadow: 0 0 0.8rem var(--light-blue);
            box-shadow: 0rem 0rem 0.4rem 0.3rem var(--light-blue);
        }
    }
    &__lists {
        background-color: var(--light-black);
        position: absolute;
        top: 7rem;
        right: 0;
        width: 100%;
        max-width: 20rem;
        max-width: 40rem;
        text-align: center;
        z-index: 20;
        overflow-y: auto;
        overflow-x: hidden;
        min-height: 5rem;
        max-height: 30rem;
        max-width: 50vh;
        transform: scale(0);
        transform-origin: top right;
        opacity: 0;
        transition: all 1s linear;

        &::-webkit-scrollbar {
            width: 1.5rem;
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--light-blue);

            &:hover {
                background-color: var(--search-bg);
            }
        }

        &.listshow {
            opacity: 1;
            transform: scale(1);
        }

        p {
            margin-top: -2.3rem;
        }

        li {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0.5rem 3rem;
            transition: opacity 1s linear, transform 1s linear;

            button {
                color: var(--light-blue);
                font-size: 1.8rem;
                display: inline-block;
                padding: 0.4rem 0.9rem;

                &:first-child {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }

                &:hover {
                    text-decoration: underline;
                    opacity: 0.8;
                }
            }
        }
    }
}

@media (min-width: 800px) {
    .history {
        &__delete {
            opacity: 0;
            &:focus, &:active {
                opacity: 1;
                // box-shadow: none;
                // box-shadow: 0.01rem 0.01rem 0.2rem 0.07rem var(--search-bg);
                // box-shadow: 0.1rem 0.1rem 0.2rem var(--search-bg), -0.1rem -0.1rem 0.2rem var(--search-bg);
            }
        }

        li {
            &:hover .history__delete {
                opacity: 1;
            }
        }
    }
}

.remove-list {
    opacity: 0;
    transform: translateX(100%);
}