.result {
    margin-top: 7rem;
    // opacity: 0;
    transition: opacity 0.6s linear;
    // color: var(--light-gray);

    &__container {
        background-color: var(--light-black);
        color: var(--light-gray);
    }

    &__today {
        &-date {
            background-color: var(--very-light-black);
            color: var(--light-gray);
            display: flex;
            // flex-flow: row wrap;
            align-items: center;
            justify-content: space-between;
            flex-flow: row wrap;
            padding: 0.5rem 1rem;
        }

        &-detail {
            padding: 2rem 3rem;

            h3 {
                font-size: 2rem;
                color: var(--light-gray);
            }

            p {
                margin-top: 1rem;
            }

            &-img {
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                justify-content: flex-start;
                gap: 0rem 3.5rem;
                
                p {
                    font-size: 4.5em;
                    flex: 1 0 auto;
                    max-width: 20rem;
                    color: var(--pure-white);
                    // margin-right: 4rem;
                    
                    sup {
                        font-size: 3.5rem;
                        font-weight: 900;
                        position: relative;
                        top: -0.7rem;
                    }
                }

                figure {
                    flex: 1 0 3rem;
                    max-width: 4rem;
                }
            }
        }

        &-sub-detail {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: flex-start;
            // gap: 3rem;

            figure {
                width: 2rem;
                height: 2rem;
                // vertical-align: 14rem;
            }

            & > div {
                &:not(:last-child) {
                    // background-color: red;
                    margin-right: 3rem;
                }
                display: flex;
                align-items: center;
                justify-content: center;
                // gap: 1rem;

                & > *:not(:last-child) {
                    // background-color: red;
                    margin-right: 1rem;
                }

                p {
                    font-size: 2rem;
                    margin-top: 0rem;
                }
            }
        }
    }

    &__day {
        background-color: var(--very-light-black);
        padding: 0.5rem 1rem;
        width: 100%;
        text-align: center;
    }

    &__following {
        // padding: 0.5rem 1rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

        & > div:nth-child(2n - 1) {
            background-color: var(--div-black);
            // background-color: var(--very-light-black);
        }

        .result__container {
            display: flex;
            flex-flow: column;
            align-items: center;
            padding-bottom: 3rem;
        }

        figure {
            margin-top: 4rem;
            & + p {
                // background-color: red;
                font-size: 2.5em;
                color: var(--pure-white);
                margin-top: 2rem;
                margin-bottom: 1rem;
            }
        }
    }
}

@media (min-width: 1000px) {
    .result {
        // background-color: blue !important;
        display: flex;

        &__today {
            // // background-color: pink !important;
            // display: flex;
            // flex-flow: column wrap;
            // align-items: center;
            // justify-content: center;

            &-detail{
                // background-color: pink !important;
                display: flex;
                flex-flow: column wrap;
                // align-items: center;
                justify-content: center;
                height: 93.6%;
            }
        }

        &__following {
            // background-color: yellow !important;
            flex: 1 1;
            // display: flex;
            // align-items: stretch;
            // justify-content: flex-start;

            & > div {
                // flex: 1;
            }
        }
    }
}