

[data-type="allProjects"] {
    main {
        margin-top: 3rem;
        // margin-top: 7rem;
        // background-color: red;
        margin-bottom: 6rem;
    }

    h1 {
        // background-color: yellow;
        padding-top: 2rem;
        padding-bottom: 2rem;
        text-align: center;
    }
}