.error_para {
    color: red;
    // background-color: #ffb2b2;
    padding: 0.2rem 0.5rem;
    max-width: max-content;
    margin: 1.4rem auto;
    transition: all 1s linear;
}

.reload {
    // font-size: 2rem;
    display: inline-block;
    padding: 0.4rem 1.2rem;
    border: 0.2rem solid;
    color: green;
    background-color: #acf8a9;
    cursor: pointer;
    transition: all 1s linear;
    border-radius: 0.5rem;
    width: max-content;

    &:hover {
        opacity: 0.6;
    }
}
