.allquiz {
    // background-color: red;
    margin-top: 3rem;
}

.quiz {
    &__next-btn {
        margin-top: 3rem;
    }
    &__lists {
        // background-color: var(--header-bg);
        // transition: padding 2s linear;
        // transition: background 1.8s linear;
    }

    &__list {
        opacity: 0;
        transition: opacity 1s linear;
        border-bottom: 0.1rem solid red;
        &:not(:first-child) {
            display: none;
            // margin-top: 8rem;
        }
        &:last-child {
            border: none;
        }
    }

    &__questions {
        font-family: "Fraunces", serif;
        font-weight: 700;
        font-size: 2.3rem;

        span {
            color: red;
            font-size: 3rem;
        }
    }

    &__answers {
        margin-top: 0.7rem;

        li {
            // margin-bottom: 0.4rem;
            // position: relative;

            input {
                display: inline-block;
                width: 2rem;
                height: 2rem;
                vertical-align: -0.4rem;
                opacity: 0;
                cursor: pointer;

                &:focus + label::before {
                    box-shadow: 0 0 0.7rem var(--text-color);
                }

                &:checked + label::after {
                    background-color: #0cc90c;
                }
            }

            label {
                position: relative;
                font-size: 2rem;
                margin-left: 0.6rem;
                cursor: pointer;
                display: inline-block;

                &::before {
                    width: 2rem;
                    height: 2rem;
                    border: 0.2rem solid red;
                    position: absolute;
                    content: "";
                    border-radius: 50%;
                    top: 0.4rem;
                    left: -3.2rem;
                    // display: inline-block;
                }

                &::after {
                    // display: inline-block;
                    width: 1rem;
                    height: 1rem;
                    border-radius: 50%;
                    background-color: transparent;
                    position: absolute;
                    top: 0.9rem;
                    left: -2.7rem;
                    content: "";
                    transition: background 0.4s linear;
                }
            }
        }
    }

    &__btn {
        background-color: #19c419;
        // color: #fff;
        color: var(--text-color);
        border-color: var(--text-color);
        padding: 0.6rem 1.5rem;
        margin-left: auto;
        // margin-right: auto;
        // margin-left: clamp(auto, auto, 4rem);
    }
}

@media (min-width: 700px) {
    .quiz {
        &__btn {
            // background-color: red;
            margin-right: auto;
        }
    }
}
