.flex {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.width {
    width: 100%;
    max-width: 100rem;
    margin-right: auto;
    margin-left: auto;
}

.logo {
    font-size: 3.5rem;
    span {
        font-size: 0.9rem;
        letter-spacing: -0.3rem;
    }
}

.padding {
    // padding: 6rem 3rem;
    // padding: 4rem 2rem;
    // background-color: var(--header-bg);
}

.quiz {
    &__display {
        // display: block !important;
        // visibility: visible;
        // opacity: 0;
    }
    &__opaq {
        opacity: 1;
        padding: 4rem 2rem;
        background-color: var(--header-bg);
    }
}

.disabled {
    color: var(--disabled-color);
    cursor: not-allowed !important;
}

.quiz__done {
    opacity: 0.6;
    cursor: not-allowed;
}