:root {
    --main-bg: #000;
    --main-color: #fff;
    --nav-bg: #111;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-size: 1.8rem;
    line-height: 1.5;
    background-color: var(--main-bg);
    color: var(--main-color);
}



img, svg {
    max-width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

// header {
//     background-color: purple;
// }

main {
    margin-top: 4rem;
}

h3 {
    font-size: 3rem;
    color: var(--main-color);
    margin-bottom: 2rem;
}
/*​​
1: Object { id: 12, name: "Adventure" }
​​
2: Object { id: 16, name: "Animation" }
​​
3: Object { id: 35, name: "Comedy" }
​​
4: Object { id: 80, name: "Crime" }
​​
5: Object { id: 99, name: "Documentary" }
​​
6: Object { id: 18, name: "Drama" }
​​
7: Object { id: 10751, name: "Family" }
​​
8: Object { id: 14, name: "Fantasy" }
​​
9: Object { id: 36, name: "History" }
​​
10: Object { id: 27, name: "Horror" }
​​
11: Object { id: 10402, name: "Music" }
​​
12: Object { id: 9648, name: "Mystery" }
​​
13: Object { id: 10749, name: "Romance" }
​​
14: Object { id: 878, name: "Science Fiction" }
​​
15: Object { id: 10770, name: "TV Movie" }
​​
16: Object { id: 53, name: "Thriller" }
​​
17: Object { id: 10752, name: "War" }
​​
18: Object { id: 37, name: "Western" }
*/