.container {
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    background-color: var(--nav-bg);

    &::-webkit-scrollbar {
        width: 0;
    }
}

.vid {
    // background-color: blue;
    position: relative;
    width: 32.8rem;
    height: 55rem;
    height: 55.1rem;
    perspective: 900px;
    perspective: 1100px;

    &__overview {
        // padding: 1rem;
    }

    &__popularity {
        margin-top: 1rem;
    }

    &:not(:last-child) {
        margin-right: 2rem;
    }

    &__detail-btn {
        width: 3rem;
        height: 3rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        background-color: red;
        color: #fff;
        border: none;
        font-size: 2rem;
        cursor: pointer;
    }

    &__link {
        // display: block;
        // background-color: pink;
        text-align: center;
        margin-top: 0.5rem;

        & > span {
            color: red;
            display: inline-block;
            padding: 0.7rem 0.9rem;
            font-size: 2.3rem;
        }

        // <a href="">${result.name}</a>

        // & > a {
        //     display: inline-block;
        //     // background-color: seagreen;
        //     padding: 1rem 0.4rem;
        //     color: red;
        //     // color: green;
        //     font-size: 2.3rem;
        //     transition: color 0.4s linear;

        //     &:hover {
        //         color: #fff;
        //     }
        // }
    }
}
