.filter {
    & > * {
        // flex: 1 0 40rem;
    }

    h3 {
        // background-color: hotpink;
        // margin-bottom: 3rem;
    }

    & > div {
        // background-color: green;
        font-size: 2.5rem;

        select {
            -webkit-appearance: none;
            appearance: none;
            border-radius: 0.5rem;
            background-color: transparent;
            color: var(--main-color);
            border: 0.2rem solid;
            padding-left: 5rem;

            option {
                background-color: var(--main-bg);
                color: var(--main-color);
            }
        }

        .select {
            &-wrapper {
                position: relative;
            }
            &-arrow {
                position: absolute;
                top: 0.6rem;
                top: 50%;
                transform: translateY(-50%);
                right: 1rem;
                color: red;
                font-size: 4rem;
                z-index: -3;
            }
        }

        label,
        select {
            display: block;
            font-family: inherit;
            font-size: 100%;
            width: 100%;
            padding: 0.7rem 0.5rem 0.7rem 0;
        }
    }
}

@media (min-width: 500px) {
    .filter {
        & > div {
            display: flex;
            align-items: center;
            justify-content: space-between;

            & > * {
                flex: 1;
                max-width: 35rem;
            }
        }
    }
}

@media (min-width: 901px) {
    .filter {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h3 {
            margin-bottom: 0;
        }

        & > * {
            flex: 1;
        }

        & > div {
            justify-content: flex-end;

            label {
                // max-width: 15rem;
                // background-color: red;
                // width: max-content;
                max-width: max-content;
                margin-right: 1rem;
            }
        }
    }
}
