.header {
    background-color: var(--nav-bg);
    padding-top: 3rem;
    padding-bottom: 3rem;
    position: relative;
}

.nav {
    @include flex-row(space-between);

    figure {
        width: 4rem;
        height: 4rem;
    }

    a {
        color: red;
        padding: 0.5rem 1.3rem;
        border-radius: 0.3rem;
        font-size: 2.2rem;
        transition: all 0.6s linear;
        border: 0.2rem solid transparent;

        &:visited {
            color: red;
        }

        &:focus {
            border-bottom-color: red;
            outline: none;
        }

        &:hover {
            background-color: var(--main-color);
        }

        &.active {
            background-color: var(--main-color);
            color: red;
        }
    }
    &__btn {
        width: 3rem;
        height: 3rem;
        border: none;
        background-color: transparent;
        background-position: center;
        background-repeat: no-repeat;
        display: none;
        cursor: pointer;
        transition: all 0.4s linear;
    }

    [data-nav="open"] {
        background-image: url(../../svg/001-show.svg);
        background-size: 100%;
        background-size: cover;
    }

    [data-nav="close"] {
        background-size: 60%;
        background-image: url(../../svg/001-close-1.svg);
    }

    &__main {
        @include flex-row(space-between);
        gap: 2rem;
        flex: 1 1 auto;
        max-width: 90rem;
        margin-left: auto;
        margin-right: auto;
    }
    &__logo {
        fill: var(--main-color);
    }

    &__sub {
        flex: 1 1 auto;
        max-width: 50rem;
        margin-left: auto;
        margin-right: auto;
        @include flex-row(space-between);
        gap: 4rem;
    }

    &__search {
        flex: 1 1 auto;
        max-width: 26rem;
        @include flex-row(center);
        gap: 1rem;

        input {
            -webkit-appearance: none;
            appearance: none;
            width: 100%;
            font-size: 100%;
            font-family: inherit;
            border: none;
            padding: 0.7rem 0.3rem 0.7rem 0.6rem;
            border-radius: 0.3rem;
            caret-color: black;
            color: red;
            letter-spacing: 0.1rem;
            display: inline-block;

            &:focus,
            &:hover {
                outline: none;
                box-shadow: 0.1rem 0.1rem 0.3rem red, -0.1rem -0.1rem 0.3rem red;
            }
        }

        &-icon {
            transition: all 1s linear;
            padding: 0.4rem 0.9rem;
            font-size: 2.5rem;
            color: red;
            width: 3rem;
            height: 3rem;
            display: inline-block;
            cursor: pointer;
            @include flex-row(center);
            background-color: transparent;
            border: none;

            &:hover {
                color: #fff;
            }
        }
    }
}

@media (max-width: 900px) {
    .nav {
        justify-content: flex-end;

        [data-nav="open"] {
            transition: opacity 0.3s linear;
            flex: 0 0 3rem;
            margin-right: 1rem;
        }
        [data-nav="close"] {
            position: absolute;
            top: 0.5rem;
            right: 0.8rem;
        }
        &__search {
            margin-left: auto;
        }
        &__main {
            transform: scale(0);
            transform-origin: left top;
            transition: transform 0.6s linear;
            background-color: var(--nav-bg);
            position: absolute;
            width: 100%;
            top: 100%;
            left: 0;
            height: 83vh;
            display: block;
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            text-align: center;
            max-width: 50rem;
            // background-color: crimson !important
            z-index: 500;
        }

        &__sub {
            display: block;
            width: 100%;

            li {
                margin: 3.5rem auto;
            }
        }

        &__btn {
            display: block;
        }
    }
}

.show {
    transform: scale(1);
}

.hide {
    opacity: 0;
}

// @media screen and (min-width: 502px) and (max-width: 1000px) {
//     .nav {
//         &__btn {
//             display: block !important;
//         }
//     }
// }

// @media (min-width: 501px) and (max-width: 900px) {
//     .nav {
//         &__main {
//             display: block;
//             // display: none;
//             // background-color: yellow;
// // //             flex: 0 0 auto;
//             margin-left: auto;
//             margin-right: auto;
//         }

//         &__logo {
//             margin-left: auto;
//             margin-right: auto;
//         }

//         &__sub {
//             position: absolute;
//             top: 100%;
//             width: 100%;
//             max-width: 65rem;
//             left: 0;
//             height: 82vh;
//             // background-color: green;
//             // background-color: var(--nav-bg);
//             display: block;
//             text-align: center;
//             // display: flex;
//             background-color: var(--nav-bg);

//             li {
//                 // margin-top: 3rem;
// // //                 // background-color: #fff;
//                 margin: 1rem auto;
//                 padding: 1rem;

//                 a {
// // //                     display: inline-block;
// // //                     // background-color: purple;
//                 }
//             }
//         }
//         &__btn {
//             display: block;
// // //             width: 2.5rem;
// // //             height: 2.5rem;
// // //             border: none;
// // //             background-color: transparent;
// // //             background-position: center;
// // //             background-repeat: no-repeat;
// // //             outline: 3px solid red;

// // //             transition: all 0.4s linear;
// // //             padding: 2rem;

// // //             &:hover {
// // //                 cursor: pointer;
// // //             }
//         }

// // //         [data-nav="open"] {
// // //             background-size: 60% 90%;
// // //             background-size: 80% 190%;
// // //         }

//         [data-nav="close"] {
// // //             background-size: 60%;
//             position: absolute;
//             top: 1rem;
//             right: 1.5rem;

//             &:hover {
//                 background-color: var(--main-color);
//             }
//         }
//     }
// }

::placeholder {
    // font-size: 1rem;
    letter-spacing: 0;
    color: var(--main-bg);
}
