main {
    // background-color: pink;
    position: relative;
}

.panel {
    opacity: 0;
    display: none;

    &:first-child {
        // background-color: pink !important;
        // visibility: hidden;
        display: none;

        & + .panel {
            display: none;
        }
    }

    &.active-panel {
        opacity: 1;
        // display: block;
    }
    & > section:not(:first-child) {
        margin-top: 10rem;
    }

    h3 {
        color: coral !important;
        color: #fff9 !important;
    }
}
